#wrapper{
    width: 920px;
    background: rgb(219, 218, 218);
    margin: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.name{
    font-family: 'Comic Neue', cursive;
    padding-left: 15px;
    margin: 0;
}

.tagline{
    font-family: 'Comic Neue', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    padding-right: 15px;
    margin: 0;
}

#purple{
    background: radial-gradient(rgb(27,11,15),rgb(111,89,100));
    padding: 20px;
}

#profile{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 20px;
}

#profile img{
    width: 350px;
    border: solid 5px; color: silver;
}

#about{
    background: linear-gradient(rgb(254,254,254),rgb(218,203,217));
    width: 500px;
}

#about h3{
    width: auto;
}

#about p{
    padding: 10px;
    margin: 0;
}

#about a{
    padding-left: 10px;
}

h3{
    margin: 0;
    background: linear-gradient(rgb(174,174,178),rgb(136,135,148));
    width: 250px;
    padding: 10px;
    color: white;
}

#articles{
    display: flex;
    justify-content: space-between;
}

.column-img{
    width: 270px;
    margin: 0;

}
button{
    display: flex;
    justify-content: 
    align-items: center;
    width: 75px;
    height: 35px;
    background: rgb(64,125,97);
    color: white;
    border-radius: 10px;
    border: solid; color: black 2px;
}

#projects img{
    display: flex;
    justify-content: space-between;
}

#projects{
    display: flex;
    justify-content: space-between;
}

.column-header{
    color: white;
    width: 250px;
    margin: 0;
    color: black;
    padding: 10px;
}